{% load static %}
<html>
    <head>
        <title>Todo List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/todo.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body style="background-color: #f4f6f7">
       	<div class="page-header">
            <h1><a href="/">TODO LISTS</a></h1>
        </div>
        <div class="container" >
            <div class="row">
            	<div class="col-md-2">
            		<a href="{% url 'add' %}" class="btn btn-primary newbtn" }><h3>Add New</h3></a>
            	</div>
            	<div class="col-md-10">
    			    {% block content %}
    			    {% endblock %}
    			</div>
            </div>
		</div>
    </body>
</html>