{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="search">
  <input type="text" id="searchtxt" placeholder="Search..">
  <button id="searchbtn" type="button" ><i class="fa fa-search"></i></button>
  <img src="{% static 'img/loading.gif' %}" style="display: none">
</div>
<div class="row list">
	{% for task in tasks %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="task">
        	<a href="{% url 'edit' pk=task.pk %}">
        		<img src="https://s3.amazonaws.com/checkli.com/featured/free-checklist-3.png">
        	</a>
        	<div class="task-content">
        		<div class="detail">
                <h3><a href="{% url 'edit' pk=task.pk %}">{{ task.title }}</a></h3>
                <p>{{ task.content|linebreaksbr }}</p>
                </div>
                <div class="actions">
                    <a href="{% url 'delete' pk=task.pk %}">
                	   <img src="https://www.checkli.com/app/css/images/trash-mychecklists.png">
                    </a>
                </div>
        	</div>
        </div>
    </div>
    {% endfor %}
</div>
<script type="text/javascript">
    $(document).ready(function(){
        

        $("#searchbtn").click(function(){
            var searchtxt = $("#searchtxt").val();
            $('.search img').css('display', 'block');
            $.ajax({
                type: "POST",
                url: "/?ajax",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: {search:searchtxt},
                success: function(response) {
                    $('.list').html(response);
                    $('.search img').css('display', 'none');
                },
                error: function(error) {
                    $('.list').html(error);
                    $('.search img').css('display', 'none');
                }
            });
        });
    });
</script>
{% endblock %}